<div class="relative flex flex-auto w-full bg-card dark:bg-transparent">

    <mat-drawer-container
        class="flex-auto h-full"
        [hasBackdrop]="false">

        <!-- Drawer -->
        <mat-drawer
            class="w-full sm:w-100 lg:border-r lg:shadow-none dark:bg-gray-900"
            [autoFocus]="false"
            [(opened)]="drawerOpened"
            #drawer>

            <!-- New chat -->
            <ng-container *ngIf="drawerComponent === 'new-chat'">
                <chat-new-chat [drawer]="drawer"></chat-new-chat>
            </ng-container>

            <!-- Profile -->
            <ng-container *ngIf="drawerComponent === 'profile'">
                <chat-profile [drawer]="drawer"></chat-profile>
            </ng-container>

        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex overflow-hidden">

            <!-- Chats list -->
            <ng-container *ngIf="chats && chats.length > 0; else noChats">
                <div class="relative flex flex-auto flex-col w-full min-w-0 lg:min-w-100 lg:max-w-100 bg-card dark:bg-transparent">

                    <!-- Header -->
                    <div class="flex flex-col flex-0 py-4 px-8 border-b bg-gray-50 dark:bg-transparent">
                        <div class="flex items-center">
                            <div 
                                class="flex items-center mr-1 cursor-pointer" *ngFor="let user of users_list"
                                (click)="openProfile()">
                                <div class="w-10 h-10">
                                    <img
                                    class="object-cover w-full h-full rounded-full object-cover"
                                    [src]="_authservice.PhotoUrl + user.image.substring(12)"
                                    alt="Profile" />
                                  </div>
                                  <div class="ml-4 font-medium truncate">{{ name }}</div>
                                </div>
                     
                          
                        </div>
                        <!-- Search -->
                        <div class="mt-4">
                            <mat-form-field
                                class="fuse-mat-rounded fuse-mat-dense w-full"
                                [subscriptSizing]="'dynamic'">
                                <mat-icon
                                    matPrefix
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                    <input
                                    [(ngModel)]="searchTerm"
                                    (input)="search()"
                                        placeholder="Search a Person"
                                        matInput
                                        #query>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Chats -->
                    <div class="flex-auto overflow-y-auto">
                        <ng-container *ngIf="Teachers.length > 0; else noChats">
                          <ng-container *ngFor="let t of Teachers; let i = index; trackBy: trackByFn">
                            <a  
                            
                              class="z-20 flex items-center py-5 px-8 cursor-pointer border-b"  (click)="storeTeacherId(t.id)"
                              [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedChat || selectedChat.id !== t.id,
                                          'bg-primary-50 dark:bg-hover': selectedChat && selectedChat.id === t.id}"
                                          (click)="toggleChat()">
                              <div class="relative flex flex-0 items-center justify-center w-10 h-10">
                                <!-- Your image code here -->
                                <img
                                  class="w-full h-full rounded-full object-cover"
                                  [src]="_authservice.PhotoUrl + t.image.substring(12)"  
                                  alt="Contact avatar"/>
                                <!-- End image code -->
                              </div>
                              <div class="min-w-0 ml-4">
                                <div class="font-medium leading-5 truncate">{{ t.username }}</div>
                             
                               
                            </div>
                            
                            
                            
                            
                              <div class="flex flex-col items-end self-start ml-auto pl-2">
                                <div class="text-sm leading-5 text-secondary">
                                  <!-- Your date code here -->
                                  <!-- Example: {{t.lastMessageAt}} -->
                                </div>
                                <ng-container *ngIf="t.muted">
                                  <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:volume-off'"></mat-icon>
                                </ng-container>
                              </div>
                            </a>
                          </ng-container>
                        </ng-container>
                      </div>

                </div>

            </ng-container>

            <!-- No chats template -->
            <ng-template #noChats>
                <div class="flex flex-auto flex-col items-center justify-center h-full">
                    <mat-icon
                        class="icon-size-24"
                        [svgIcon]="'heroicons_outline:chat'"></mat-icon>
                    <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">No chats</div>
                </div>
            </ng-template>

            <!-- Conversation -->
          <ng-container *ngIf="isChatVisible && Teachers.length > 0">
    <div class="flex-auto border-l"
         [ngClass]="{'z-20 absolute inset-0 lg:static lg:inset-auto flex': selectedChat && selectedChat.id,
                     'hidden lg:flex': !selectedChat || !selectedChat.id}">
        <body class="flex flex-col items-center justify-center w-screen min-h-screen bg-gray-100 text-gray-800 p-10"  style="overflow: auto !important;">
            <!-- Component Start -->
            <div class="flex flex-col flex-grow max-w-xl bg-white shadow-xl rounded-lg overflow-hidden"
                 style="margin-right: 700px !important; margin-bottom: 50px !important; width: 100% !important;">
                <div class="flex flex-col flex-grow h-0 p-4 overflow-auto">
                    <div class="flex w-full mt-2 space-x-3 max-w-xs" style="display: block !important;"
                         *ngFor="let user of users_list">
                         
                         <div *ngFor="let msg of messages">
                            <div class="flex items-center space-x-2" style="margin-bottom: 20px !important;" 
                                 *ngIf="channelN === channelName">
                                <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300" >
                                    <img [src]="_authservice.PhotoUrl + msg.image.substring(12)" alt="img" class="w-full h-full rounded-full object-cover">
                                </div>
                                <div class="p-3 rounded-r-lg rounded-bl-lg" [ngStyle]="{'background-color': msg.senderId === senderID ? '#DAA420' : '#4299e1'}">
                                    
                                        <strong class="mb-1">{{msg.username}}</strong>
                                    
                                    <p class="text-sm" style="max-width: 250px !important; overflow-wrap: break-word; ">
                                        {{msg.message}} 
                                    <strong class="mb-1" style="margin-left: 12px;"> {{msg.time}}</strong>
                                    </p>
                                       
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
                <div class="bg-gray-300 p-4">
                    <form (submit)="submit()">
                        <input class="flex items-center h-10 w-full rounded px-3 text-sm" [value]="message"
                               type="text" placeholder="Type your message…" (change)="message = $event.target.value">
                    </form>
                </div>
            </div>
            <!-- Component End  -->
        </body>
    </div>
</ng-container>


        </mat-drawer-content>

    </mat-drawer-container>

</div>