<!-- Shortcuts toggle -->
<button
    mat-icon-button
    (click)="openPanel()"
    #shortcutsOrigin>

    <ng-container *ngIf="NotesAndDisc_list$ | async as NotesAndDisc_list">
        <span class="absolute top-0 right-0 left-0 flex items-center justify-center h-3">
            <span class="flex items-center justify-center shrink-0 min-w-4 h-4 px-1 ml-4 mt-2.5 rounded-full bg-indigo-600 text-indigo-50 text-xs font-medium">
                {{ NotesAndDisc_list.length }}
            </span>
        </span>
    </ng-container>
    <mat-icon [svgIcon]="'mat_solid:event_note'"></mat-icon>
</button>

<!-- Shortcuts panel -->
<ng-template #shortcutsPanel>
    <div class="fixed inset-0 sm:static sm:inset-auto flex flex-col sm:min-w-90 sm:w-90 sm:rounded-2xl overflow-hidden shadow-lg">

       
        <!-- Header -->
        <div class="flex shrink-0 items-center py-4 pr-4 pl-6 bg-primary text-on-primary" style="display: flex !important; justify-content: space-between !important;">

            <div class="flex items-center text-lg font-medium leading-10">
                <span class="">Rates</span>
               
                <ng-container *ngIf="mode !== 'view'">
                    <span class="ml-1">
                        <ng-container *ngIf="mode === 'add'">- Add new</ng-container>
                        <ng-container *ngIf="mode === 'modify' || mode === 'edit'">- Editing</ng-container>
                    </span>
                </ng-container>
            </div>

            <div>
                <button
                    mat-icon-button
                    [matTooltip]="'Mark all as read'"
                    [disabled]="unreadCount === 0"
                    (click)="markAllAsRead()">
                    <mat-icon
                        class="icon-size-5 text-current"
                        [svgIcon]="'mat_solid:event_note'"></mat-icon>
                </button>
            </div>

          
         
        </div>
        <div class="relative flex flex-col flex-auto sm:max-h-120 -mb-px overflow-y-auto bg-card">

            <!-- View mode -->
            <ng-container style="height: 20px; overflow: auto;" *ngIf="mode === 'view' || mode === 'modify'">

                <!-- Shortcuts -->
                <div>
                    <!-- Shortcut -->
                    <ng-container >

                     

                        <div *ngFor="let r of NotesAndDisc_list" (click)="ShowNotes(r.id_exercice)">
                        <div class="hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5" style="display: flex; align-items: center; justify-content:space-between;  height: 70px; cursor: pointer;">
                            <p style="font-weight: 500; font-size: 16px; margin-left: 40px;">{{r.title_exercice | titlecase}}</p>
                            <p style="font-weight: 500; font-size: 13px; margin-left: 20px; display: block;">{{r.chapterlessonName}}</p>
                            <span class="bg-primary-600" style="width: 10px; height: 10px; border-radius: 50% ; margin-right: 20px;"></span>
    

                </div>

                   </div>
                    </ng-container>
                </div>

                <!-- No shortcuts -->
                <ng-container *ngIf="!NotesAndDisc_list || !NotesAndDisc_list.length">
                    <div class="flex flex-col flex-auto items-center justify-center sm:justify-start py-12 px-8">
                        <div class="flex flex-0 items-center justify-center w-14 h-14 rounded-full bg-primary-100 dark:bg-primary-600">
                            <mat-icon
                                class="text-primary-700 dark:text-primary-50"
                                [svgIcon]="'heroicons_outline:bookmark'"></mat-icon>
                        </div>
                        <div class="mt-5 text-2xl font-semibold tracking-tight">No shortcuts</div>
                        <div class="w-full max-w-60 mt-1 text-md text-center text-secondary">When you have shortcuts, they will appear here.</div>
                    </div>
                </ng-container>
            </ng-container>

         
        </div>
    </div>
</ng-template>