<div
    class="absolute inset-0 min-w-0 text-center overflow-auto print:overflow-visible"  
    cdkScrollable>
    <div class="relative pt-8 pb-12 sm:pt-20 sm:pb-24 px-6 sm:px-16 overflow-hidden">
      <!-- Background - @formatter:off -->
      <svg class="-z-1 absolute inset-0"
           viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
          <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor" stroke-width="100">
              <circle r="234" cx="196" cy="23"></circle>
              <circle r="234" cx="790" cy="491"></circle>
          </g>
      </svg>
      <!-- @formatter:on -->
      <!-- Header -->
      <div class="flex flex-col items-center">
        <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
           Historical
        </div>
         
      </div>
    <!-- Main -->
    <div class="inline-block p-6 sm:p-10 text-left print:p-0 tracking-tight ">

        <!-- Invoice -->
        

          <div   class="responsive-div shadow bg-card print:w-auto print:p-0 print:rounded-none print:shadow-none print:bg-transparent  ring-2 ring-primary ">

            <div class="font-sans container text-2xl print:bg-transparent">
                <div class="w-full md:w-3/5 mx-auto p-8 text-2xl font-bold tracking-tight leading-tight">
                
                   <div class="shadow-md text-2xl font-bold tracking-tight leading-tight" >
                      <div class="tab w-full overflow-auto border-t text-2xl tracking-tight leading-tight ">
                         <input class="absolute opacity-0 text-2xl tracking-tight leading-tight " id="tab-multi-one" type="checkbox" name="tabs">
                         <label class="block p-5 leading-normal cursor-pointer border-primary-600 text-primary-600" for="tab-multi-one" style="font-weight: bold !important;">Courses</label>
                        
                         <div class="tab-content overflow-hidden border-l-2  border-primary-600 leading-normal text-2xl font-bold tracking-tight leading-tight"  style="overflow: auto !important;" *ngFor="let cour of courOfStudent">
                            <p class="p-5 text-2xl font-bold tracking-tight leading-tight">{{cour.couname}}</p>
                       
                      </div>
                      <div class="tab w-full overflow-hidden border-t text-2xl  tracking-tight leading-tight">
                        <input class="absolute opacity-0 text-2xl" id="tab-multi-two" type="checkbox" name="tabs">
                        <label class="block p-5 leading-normal cursor-pointer border-primary-600 text-primary-600" for="tab-multi-two" style="font-weight: bold !important;">Certificates</label>
                        <div class="tab-content overflow-hidden border-l-2 border-primary-600 leading-normal text-2xl font-bold tracking-tight leading-tight" *ngFor="let l of listCertif">
                          <div class="mb-3 mt-2" style="display: flex !important; align-items: center !important; justify-content: space-between !important;">
                            <p class="text-2xl font-bold tracking-tight leading-tight" style="margin-right: 20px; margin-left: 20px; flex-grow: 1;">{{l.cour_name}}</p>
                            <img src="/assets/pdf.png" style="height: 30px; width: 25px; cursor: pointer; margin-right: 20px; margin-left: 20px;" (click)="convertImageToPdf(l.certifPDF)">
                          </div>
                        </div>
                      </div>
                      
                      
                   </div>
                </div>
             
            </div>
            
             
        </div>

    </div>

</div>