<div class="pyro" style="z-index: 1;">
    <div class="before"></div>
    <div class="after"></div>
  </div>
  
  
  <body>
      <div #certificateContainer class="container pm-certificate-container" style="margin: auto !important;">
        <div class="outer-border"></div>
        <div class="inner-border"></div>
       
        
        <div class="pm-certificate-border col-xs-12">
         
          <div class="row pm-certificate-header"  *ngFor="let uss of listapp">
            <div class="pm-certificate-title cursive col-xs-12 text-center" *ngFor="let us of logo_List"  >
           
              <h2 style="font-size: 30px !important;">{{uss.appname}} E-learning Academy</h2>
              <img src="/assets/azert.png" alt=""
              class="w-40" style="position: absolute !important; margin-left: 280px !important;margin-top: 20px !important; transform: translateY(-25%) !important;">
   

            </div>
          </div>
        
          <div class="row pm-certificate-body">
            
            <div class="pm-certificate-block">
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
                    <div class="pm-certificate-name underline margin-0 col-xs-8 text-center">
                      <span class="pm-name-text bold">Certificate</span>
                    </div>
                    <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
                  </div>
                </div>          
    
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
                    <div class="pm-earned col-xs-8 text-center">
                      <span class="pm-earned-text padding-0 block cursive">is given to Mr(s) </span>
                      <span class="pm-credits-text block bold sans" style="color: #eabe47 !important;">{{ StudentName | titlecase }}</span>
                      <span class="pm-earned-text padding-0 block cursive">Date of Birth </span>
                      <span class="pm-credits-text block bold sans" style="color: #eabe47 !important;">{{StudentDateBirth | date:'dd MMM YYYY '}}</span>
                    </div>
                    <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
                    <div class="col-xs-12"></div>
                  </div>
                </div>
                
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
                    <div class="pm-course-title col-xs-8 text-center">
                      <span class="pm-earned-text block cursive">while completing the training course entitled</span>
                    </div>
                    <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
                  </div>
                </div>
    
                <div class="col-xs-12">
                  <div class="row">
              
                    <div class="pm-course-title underline col-xs-8 text-center">
                      <span class="pm-credits-text block bold sans" style="color: #eabe47 !important; margin-bottom: 5px !important;">{{this.courname}}</span>
                    </div>
                   
                  </div>
                </div>
            </div>       
            
            <div class="col-xs-12">
              <div class="row">
                <div class="pm-certificate-footer">
                    <div class="col-xs-4 pm-certified col-xs-4 text-center">
                    
                      <span class="pm-empty-space block"></span>
                    
                    </div>
                   
                    <div class="col-xs-4 pm-certified col-xs-4 text-center">
                      <span class="pm-credits-text block sans" style="font-weight: bold !important;">Date Completed</span>
                      <span class="pm-credits-text block sans">{{ currentDate | date }}</span>
                      <span class="pm-empty-space block underline"></span>
                     
                    </div>
                </div>
              </div>
            </div>
           
          </div>
    
        </div>
      </div>
  
     
  
  <button type="button" (click)=" generatePDF()" class="px-6 py-3.5 text-base font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" style="width: 150px !important; margin: auto !important; margin-top: 10px !important; background-color: #eabe47 !important;">Download PDF</button>
  
  
  <style>
  
    @import url('https://fonts.googleapis.com/css?family=Open+Sans|Pinyon+Script|Rochester');
    
    .cursive {
      font-family: 'Pinyon Script', cursive;
    }
    
    .sans {
      font-family: 'Open Sans', sans-serif;
    }
    
    .bold {
      font-weight: bold;
    }
    
    .block {
      display: block;
    }
    
    .underline {
      border-bottom: 1px solid #777;
      padding: 5px;
      margin-bottom: 15px;
    }
  
  
    
    .margin-0 {
      margin: 0;
    }
    
    .padding-0 {
      padding: 0;
    }
    
    .pm-empty-space {
      height: 40px;
      width: 100%;
    }
    
    body {
      padding: 20px 0;
      background: #ccc;
    }
    
    .pm-certificate-container {
      position: relative;
      width: 800px;
      height: 600px;
      background-color: #eabe47;
      padding: 30px;
      color: #333;
      font-family: 'Open Sans', sans-serif;
      box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    
      
      .outer-border {
        width: 794px;
        height: 594px;
        position: absolute;
        left: 50%;
        margin-left: -397px;
        top: 50%;
        margin-top:-297px;
        border: 2px solid #fff;
      }
      
      .inner-border {
        width: 730px;
        height: 530px;
        position: absolute;
        left: 50%;
        margin-left: -365px;
        top: 50%;
        margin-top:-265px;
        border: 2px solid #fff;
      }
    
      .pm-certificate-border {
        position: relative;
        width: 720px;
        height: 520px;
        padding: 0;
        border: 1px solid #E1E5F0;
        background-color: rgba(255, 255, 255, 1);
        background-image: none;
        left: 50%;
        margin-left: -360px;
        top: 50%;
        margin-top: -260px;
    
        .pm-certificate-block {
          width: 650px;
          height: 200px;
          position: relative;
          left: 50%;
          margin-left: -325px;
          top: 70px;
          margin-top: 0;
        }
    
        .pm-certificate-header {
          margin-bottom: 10px;
        }
    
        .pm-certificate-title {
          position: relative;
          top: 40px;
    
          h2 {
            font-size: 34px !important;
          }
        }
    
        .pm-certificate-body {
          padding: 20px;
    
          .pm-name-text {
            font-size: 20px;
          }
        }
    
        .pm-earned {
          margin: 15px 0 20px;
          .pm-earned-text {
            font-size: 20px;
          }
          .pm-credits-text {
            font-size: 15px;
          }
        }
    
        .pm-course-title {
          .pm-earned-text {
            font-size: 20px;
          }
          .pm-credits-text {
            font-size: 15px;
          }
        }
    
        .pm-certified {
          font-size: 12px;
    
          .underline {
            margin-bottom: 5px;
          }
        }
    
        .pm-certificate-footer {
          width: 650px;
          height: 100px;
          position: relative;
          left: 50%;
          margin-left: -325px;
          bottom: -105px;
        }
      }
    }
    
    
    
      </style>
  
    </body>