<!-- Button -->
<button mat-icon-button [matMenuTriggerFor]="userActions">
    <span class="relative">
      <img class="w-7 h-7 rounded-full" [src]="" />
      <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
      <span
        class="absolute right-0 bottom-0 w-2 h-2 rounded-full bg-green-500"
      ></span>
    </span>
  </button>
  

<mat-menu
    [xPosition]="'before'"
    #userActions="matMenu">
    <button mat-menu-item  
      (click)="menu()">
        <span class="flex flex-col leading-none">
            <span>Menu</span>
          
        </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item 
    (click)="profile()">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>Profile</span>
    </button>

    <mat-divider class="my-2"></mat-divider>
    <button
        mat-menu-item
        (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span>Sign out</span>
    </button>
</mat-menu>


    
    
    
  